[submodule "homework1"]
	path = homework1
	url = https://github.com/isinglee/homework1.git
[submodule "homework3"]
	path = homework3
	url = https://github.com/isinglee/homework3.git
[submodule "homework4"]
	path = homework4
	url = https://github.com/isinglee/homework4.git
[submodule "homework5"]
	path = homework5
	url = https://github.com/isinglee/homework5.git
[submodule "homework6"]
	path = homework6
	url = https://github.com/isinglee/homework6.git
[submodule "homework7_8"]
	path = homework7_8
	url = https://github.com/isinglee/homework7_8.git
[submodule "homework9"]
	path = homework9
	url = https://github.com/isinglee/homework9.git
[submodule "homeworkjs_1"]
	path = homeworkjs_1
	url = https://github.com/isinglee/homeworkjs_1.git
[submodule "homeworkjs_2"]
	path = homeworkjs_2
	url = https://github.com/isinglee/homeworkjs_2.git
[submodule "homeworkjs3_4"]
	path = homeworkjs3_4
	url = https://github.com/isinglee/homeworkjs3_4.git
[submodule "homeworkjs5_6"]
	path = homeworkjs5_6
	url = https://github.com/isinglee/homeworkjs5_6.git
[submodule "homeworkjs5_6_bonus"]
	path = homeworkjs5_6_bonus
	url = https://github.com/isinglee/homeworkjs5_6_bonus.git
[submodule "homeworkjs7_8"]
	path = homeworkjs7_8
	url = https://github.com/isinglee/homeworkjs7_8.git
[submodule "homeworkjs9_10"]
	path = homeworkjs9_10
	url = https://github.com/isinglee/homeworkjs9_10.git
