[submodule "homework1"]
	path = homework1
	url = https://github.com/isinglee/homework1.git
[submodule "homework3"]
	path = homework3
	url = https://github.com/isinglee/homework3.git
[submodule "homework4"]
	path = homework4
	url = https://github.com/isinglee/homework4.git
[submodule "homework5"]
	path = homework5
	url = https://github.com/isinglee/homework5.git
[submodule "homework6"]
	path = homework6
	url = https://github.com/isinglee/homework6.git
[submodule "homework7_8"]
	path = homework7_8
	url = https://github.com/isinglee/homework7_8.git
[submodule "homework9"]
	path = homework9
	url = https://github.com/isinglee/homework9.git
